ion-modal {
    --height: fit-content;
    --width: 95%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(0, 0, 0, .9);
  }
  
  .inputDivModal {
    background: rgba(127, 127, 139, 0.2);
    display: flex;
  
    border-radius: 10px;
    min-height: 40px;
  }
  
  .inputModal {
    color: rgba(0, 0, 0, 0.5);
  
  }
  
  .textModal {
    margin-top: 7px;
    margin-left: 8px;
  }
  
  .textModalStrong {
    margin-top: 7px;
  
    text-align: start;
    position: absolute;

    margin-left: 10%;
  }
  
  .itemModal {
    border-radius: 10px;
  }
  
  ion-grid ion-row {
    width: 100%;
    height: 3rem;
  }
  
  ion-row ion-input,
  ion-label {
    width: 100%;
    height: 2rem;
  
  }